{% macro include_mobile_header() %}
{% block header_mobilesite_navigation2 %}
<nav>
  <ul id="menu-mobile-menu" class="menu">
    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-1478"><a href="https://yearofthesalmon.org/" class="elementor-item">Home</a></li>
    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1477"><a href="https://yearofthesalmon.org/salmon_people/" class="elementor-item">Salmon &amp; People</a></li>
    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-1474"><a href="https://yearofthesalmon.org/get_involved/" aria-current="page" class="elementor-item elementor-item-active has-submenu"
        id="sm-1587577026881703-1" aria-haspopup="true" aria-controls="sm-1587577026881703-2" aria-expanded="false">Get Involved<span class="sub-arrow"><i class="fa"></i></span></a>
      <ul class="sub-menu elementor-nav-menu--dropdown sm-nowrap" id="sm-1587577026881703-2" role="group" aria-hidden="true" aria-labelledby="sm-1587577026881703-1" aria-expanded="false" style="width: auto; min-width: 10em; display: none; max-width: 1000px; top: auto; left: 0px; margin-left: 0px; margin-top: 0px;">
        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5133"><a href="https://yearofthesalmon.org/get_involved/event-register/" class="elementor-sub-item">Event Register</a></li>
        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5134"><a href="https://yearofthesalmon.org/get_involved/project-register/" class="elementor-sub-item">Project Register</a></li>
        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4957"><a href="https://yearofthesalmon.org/contact/resources/" class="elementor-sub-item">Resources</a></li>
      </ul>
    </li>
    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1643"><a href="https://yearofthesalmon.org/events/" class="elementor-item">Events</a></li>
    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1476"><a href="https://yearofthesalmon.org/projects/" class="elementor-item">Projects</a></li>
    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1473"><a href="https://yearofthesalmon.org/about_us/" class="elementor-item">About Us</a></li>
    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1472"><a href="https://yearofthesalmon.org/contact/" class="elementor-item">Contact</a></li>
    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home menu-item-has-children menu-item-5303">
      <a href="https://yearofthesalmon.org" class="elementor-item has-submenu" id="sm-1587577026881703-3" aria-haspopup="true" aria-controls="sm-1587577026881703-4" aria-expanded="false">
        High Seas Expeditions<span class="sub-arrow"><i class="fa"></i></span>
      </a>
      <ul class="sub-menu elementor-nav-menu--dropdown" id="sm-1587577026881703-4" role="group" aria-hidden="true" aria-labelledby="sm-1587577026881703-3" aria-expanded="false">
        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5148"><a href="https://yearofthesalmon.org/gulf-of-alaska-expedition-2/" class="elementor-sub-item">2019 Pacific Expedition</a></li>
        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5306"><a href="https://yearofthesalmon.org/gulf-of-alaska-expedition2020/" class="elementor-sub-item">2020 Gulf of Alaska Expedition</a></li>
      </ul>
    </li>
    <li id="menu-item-1652" class="menu-item menu-item-has-children menu-parent current-menu-item current_page_item"><a href="{{ h.url_for('home.index') }}"><span class="mega-indicator">{{_('DATA CATALOGUE')}}</span></a>
      <ul class="sub-menu" style=" min-width: 161px;">
        <li id="menu-item-1999" class="menu-item"><a href="{{ h.url_for('home.index') }}dataset">{{_('Datasets')}}</a></li>
        <li id="menu-item-2001" class="menu-item"><a href="{{ h.url_for('home.index') }}organization">{{_('Organizations')}}</a></li>
      </ul>
    </li>
    <ul class="shareicons">
      <li><a href="http://twitter.com/cioos_siooc" tabindex="0" aria-label="Twitter"><i class="fa fa-twitter"></i></a></li>
      <li>
        {%- if h.lang() == 'en' -%}
        <a href="{% url_for h.current_url(), locale='fr' %}" tabindex="0" aria-label="French/English">FR</a>
        {%- else -%}
        <a href="{% url_for h.current_url(), locale='en' %}" tabindex="0" aria-label="French/English">EN</a>
        {%- endif -%}
      </li>
    </ul>
  </ul>
</nav>
{% endblock %}
{% endmacro %}

{% macro include_site_header() %}
{% block header_main %}
<ul id="menu-main-menu" class="menu">
  <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-1478"><a href="https://yearofthesalmon.org/" class="elementor-item">Home</a></li>
  <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1477"><a href="https://yearofthesalmon.org/salmon_people/" class="elementor-item">Salmon &amp; People</a></li>
  <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-1474">
    <a href="https://yearofthesalmon.org/get_involved/" aria-current="page" class="elementor-item elementor-item-active has-submenu" id="sm-1587577026881703-1" aria-haspopup="true" aria-controls="sm-1587577026881703-2" aria-expanded="false">
      Get Involved<span class="sub-arrow"><i class="fa"></i></span>
    </a>
    <ul class="sub-menu elementor-nav-menu--dropdown sm-nowrap" id="sm-1587577026881703-2" role="group" aria-hidden="true" aria-labelledby="sm-1587577026881703-1" aria-expanded="false" style="width: auto; min-width: 10em; display: none; max-width: 1000px; top: auto; left: 0px; margin-left: 0px; margin-top: 0px;">
      <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5133"><a href="https://yearofthesalmon.org/get_involved/event-register/" class="elementor-sub-item">Event Register</a></li>
      <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5134"><a href="https://yearofthesalmon.org/get_involved/project-register/" class="elementor-sub-item">Project Register</a></li>
      <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4957"><a href="https://yearofthesalmon.org/contact/resources/" class="elementor-sub-item">Resources</a></li>
    </ul>
  </li>
  <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1643"><a href="https://yearofthesalmon.org/events/" class="elementor-item">Events</a></li>
  <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1476"><a href="https://yearofthesalmon.org/projects/" class="elementor-item">Projects</a></li>
  <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1473"><a href="https://yearofthesalmon.org/about_us/" class="elementor-item">About Us</a></li>
  <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1472"><a href="https://yearofthesalmon.org/contact/" class="elementor-item">Contact</a></li>
  <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home menu-item-has-children menu-item-5303"><a href="https://yearofthesalmon.org" class="elementor-item has-submenu" id="sm-1587577026881703-3" aria-haspopup="true"
      aria-controls="sm-1587577026881703-4" aria-expanded="false">High Seas Expeditions<span class="sub-arrow"><i class="fa"></i></span></a>
    <ul class="sub-menu elementor-nav-menu--dropdown" id="sm-1587577026881703-4" role="group" aria-hidden="true" aria-labelledby="sm-1587577026881703-3" aria-expanded="false">
      <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5148"><a href="https://yearofthesalmon.org/gulf-of-alaska-expedition-2/" class="elementor-sub-item">2019 Pacific Expedition</a></li>
      <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5306"><a href="https://yearofthesalmon.org/gulf-of-alaska-expedition2020/" class="elementor-sub-item">2020 Gulf of Alaska Expedition</a></li>
    </ul>
  </li>
  <li id="menu-item-1652" class="menu-item menu-item-has-children menu-parent current-menu-item current_page_item"><a href="{{ h.url_for('home.index') }}"><span class="mega-indicator">{{_('DATA CATALOGUE')}}</span></a>
    <ul class="sub-menu" style=" min-width: 161px;">
      <li id="menu-item-1999" class="menu-item"><a href="{{ h.url_for('home.index') }}dataset">{{_('Datasets')}}</a></li>
      <li id="menu-item-2001" class="menu-item"><a href="{{ h.url_for('home.index') }}organization">{{_('Organizations')}}</a></li>
    </ul>
  </li>
</ul>
{% endblock %}
{% endmacro %}
